.app {
    display: flex;
    width: 100%;
}

.app__groups{
    width: 20%;
    padding-left: 1rem;
    padding-top: 1rem;
}

.app__todos{
    width: 100%;
    padding-right: 2rem;
    padding-left: 2rem;
}