form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

mat-form-field {
    max-width: 400px;
    width: 100%;
}

.alert {
    position: absolute;
    right: 25%;
    margin-top: 3rem;
    width: 50%;
    text-align: center;
}