<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Todo App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Todo App</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex flex-column justify-content-between">
        <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
          <h2 class="fs-6">Todo Lists:</h2>
          <li class="nav-item">
            <div class="d-flex justify-content-between">
              <a (click)="emitChangeGroup(todos)" [id]="'gp'+todos?.id" class="nav-link active" aria-current="page">Todos</a>
            </div>
          </li>

          <li class="nav-item" *ngFor="let g of groups">
            <div *ngIf="g.name != 'Todos'" class="d-flex justify-content-between">
              <a (click)="emitChangeGroup(g)" [id]="'gp'+g.id" class="nav-link" href="#">{{ g.name }}</a>
              <li class="btn-group dropstart">
                <button style="max-height: 2em;position: relative;top: 0.5em;"
                class="btn btn-sm btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <p style="position: relative; top:-0.6em" class="fs-3">...</p>
                </button>
                <ul style="position: absolute;" class="dropdown-menu">
                  <li><a (click)="deleteGroup(g)" class="dropdown-item" href="#">Delete list</a></li>
                </ul>
              </li>
            </div>
          </li>

          <form style="margin-top: 2em;" class="d-flex" (ngSubmit)="createGroup()">
            <input #newGroupName class="form-control me-2" type="text" placeholder="New List Name" aria-label="Name">
            <button class="btn btn-outline-success" type="submit">
              <div *ngIf="!loading">+</div>
              <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status"></div>
            </button>
          </form>
        </ul>
        <button type="button" class="btn btn-outline-secondary">Log Out</button>
      </div>
    </div>
  </div>
</nav>
