<form [formGroup]="form" class="input-form d-flex" (ngSubmit)="emitTodoCreation()">
      <button type="submit" class="input-form__button btn btn-outline-secondary d-flex align-items-center justify-content-center shadow-sm">
        <mat-icon>add</mat-icon>
      </button>
      <input formControlName="todo" autofocus #todoDescription type="text" class="input-form__text form-control shadow-sm border-secondary" placeholder="New Todo ..." aria-label="Todo">
      <mat-form-field class="example-full-width" style="width: 0px; height: 0px;">
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker touchUi="true" #picker>
          <mat-datepicker-actions>
            <button mat-button matDatepickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
            <button mat-raised-button color="warn" [disabled]="picker.datepickerInput.getStartValue() == null" (click)="discardPickedDate()">Discard</button>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
      <button type="button" (click)="picker.open()"
      class="input-form__button btn btn-outline-secondary d-flex align-items-center justify-content-center shadow-sm">
        <mat-icon *ngIf="picker.datepickerInput.getStartValue() != null">alarm</mat-icon>
        <mat-icon *ngIf="picker.datepickerInput.getStartValue() == null">alarm_add</mat-icon>
      </button>
  </form>
