<h2 mat-dialog-title>New List</h2>
<mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="save()">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="nameControl.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="!nameControl.hasError('required') && nameControl.invalid">
              This list already <strong>exists</strong>
            </mat-error>
        </mat-form-field>
        <div align="end">
            <button type="button" (click)="close()" style="margin-right: 1rem;" mat-button class="btn btn-light" >Cancel</button>
            <button [disabled]="form.invalid" mat-button class="btn btn-light" type="submit" cdkFocusInitial>
                Save
                <div *ngIf="loading" class="spinner-border spinner-border-sm" role="status"></div>
            </button>
        </div>
    </form>
</mat-dialog-content>
