<h2 mat-dialog-title>Edit</h2>
<mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="save()">
        <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>DeadLine</mat-label>
            <input formControlName="deadLine" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div align="end">
            <button type="button" (click)="close()" style="margin-right: 1rem;" mat-button class="btn btn-light" >Cancel</button>
            <button mat-button class="btn btn-light" type="submit" cdkFocusInitial>Save</button>
        </div>
    </form>
</mat-dialog-content>