/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  display: block;
  margin: auto;
}
app-root, app-login, .full {
  display: block;
  height: 100%;
}

.notifications {
  margin-top: 2rem;
  position: absolute;
  width: 100vw;
}

#liveAlertPlaceholder {
  position: absolute;
  max-width: 600px;
}
